{% extends "layout.html" %}
{% load static %}

{% block title %}
    Project Documents
{% endblock title %}

{% block body %}

    <div class="card mx-auto mt-5 col-md-6">
        <div class="card-body shadow">
            <div class="row mb-3">
                <div class="col fw-bold text-end">Project Name:</div>
                <div class="col">COVID19 Detection</div>
            </div>
            <div class="row mb-3">
                <div class="col fw-bold text-end">Team Members and Email Addresses:</div>
                <div class="col">
                    {% comment %} <ul class="mb-0"> {% endcomment %}
                        <li class="list-group-item">Rodrigo Alarcon - ralarcon2019@my.fit.edu</li>
                        <li class="list-group-item">Emma Conti - econti2020@my.fit.edu</li>
                        <li class="list-group-item">Lamine Deen - ldeen2016@my.fit.edu</li>
                        <li class="list-group-item">Audrey Eley - aeley2020@my.fit.edu</li>
                    {% comment %} </ul> {% endcomment %}
                </div>
            </div>
            <div class="row">
                <div class="col fw-bold text-end">Faculty Advisor:</div>
                <div class="col">Zahra Nematzadeh - znematzadeh@fit.edu</div>
            </div>
        </div>
    </div>              

    <div class="container my-5">
        <h2 class="fw-bold text-center ">Project Milestones</h2>
        <h4 class="mb-4">First Semester</h4>
        
        <div class="row g-4">
            <!-- Preliminary  -->
            <div class="col-md-3">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Plan (Sep 4)</h5>
                        <a href="{% url 'main:open_file' projectPlan %}" class="btn btn-primary d-block mb-2"  role="button" target="_blank"> Plan </a>
                        <a href="{% url 'main:open_file' projectPlanPres %}" class="btn btn-primary d-block mb-2" role="button" target="_blank"> Presentation </a>
                        <!-- <a href="/media/documents/Project Plan Fall 2024 Presentation.pdf" class="btn btn-primary d-block mb-2"  role="button"> Presentation </a> -->
                    </div>
                </div>
            </div>
            
            <!-- Milestone 1 -->
            <div class="col-md-3">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Milestone 1 (Sep 30)</h5>
                        <a href="" class="btn btn-primary d-block mb-2"  role="button"> Requirement </a>
                        <a href="" class="btn btn-primary d-block mb-2"  role="button"> Design </a>
                        <a href="{% url 'main:open_file' webTesting %}" class="btn btn-primary d-block mb-2"  role="button"> Test </a>
                        <a href="{% url 'main:open_file' milestone1Pres %}" class="btn btn-primary d-block mb-2"  role="button"> Presentation </a>
                        <a href="{% url 'main:open_file' milestone1Eval %}" class="btn btn-primary d-block"  role="button"> Progress Evaluation </a>
                    </div>
                </div>
            </div>

            <!-- Milestone 2 -->
            <div class="col-md-3">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Milestone 2 (Oct 28)</h5>
                        <a href="{% url 'main:open_file' milestone2Pres %}" class="btn btn-primary d-block mb-2"  role="button"> Presentation </a>
                        <a href="{% url 'main:open_file' milestone2Eval %}" class="btn btn-primary d-block mb-2"  role="button"> Progress Evaluation </a>
                    </div>
                </div>
            </div>
            
            <!-- Milestone 3 -->
            <div class="col-md-3">
                <div class="card h-100 shadow ">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Milestone 3 (Nov 25)</h5>
                        <a href="{% url 'main:open_file' milestone3Pres %}" class="btn btn-primary d-block mb-2"  role="button"> Presentation </a>
                        <a href="{% url 'main:open_file' milestone3Eval %}" class="btn btn-primary d-block mb-2"  role="button"> Progress Evaluation </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <h4 class="mb-4">Second Semester</h4>
    
        <!-- Plan -->
        <div class="row g-4">
            <div class="col-md-3">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Plan (Jan)</h5>
                        <a href="{% url 'main:open_file' projectPlan2 %}" class="btn btn-primary d-block mb-2" role="button"> Plan </a>
                        <a href="{% url 'main:open_file' projectPlan2Pres %}" class="btn btn-primary d-block mb-2" role="button"> Presentation </a>
                    </div>
                </div>
            </div>
            
            <!-- Milestone 4 -->
            <div class="col-md-3">
                <div class="card h-100 shadow ">
                    <div class="card-body ">
                        <h5 class="card-title fw-bold">Milestone 4 (Feb)</h5>
                        <a href="{% url 'main:open_file' milestone4Pres %}" class="btn btn-primary d-block mb-2"  role="button"> Presentation </a>
                        <a href="{% url 'main:open_file' milestone4Eval %}" class="btn btn-primary d-block mb-2"  role="button"> Progress Evaluation </a>
                    </div>
                </div>
            </div>
            <!-- Milestone 5 -->
            <div class="col-md-3">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Milestone 5 (Mar)</h5>
                        <a href="{% url 'main:open_file' poster %}" class="btn btn-primary d-block mb-2"  role="button"> Poster </a>
                        <a href="{% url 'main:open_file' milestone5Pres %}" class="btn btn-primary d-block mb-2"  role="button"> Presentation </a>
                        <a href="{% url 'main:open_file' milestone5Pres %}" class="btn btn-primary d-block mb-2"  role="button"> Progress Evaluation </a>
                    </div>
                </div>
            </div>
            
            <!-- Milestone 6 -->
            <div class="col-md-3">
                <div class="card h-100 shadow">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Milestone 6 (Apr)</h5>
                        <a href="" class="btn btn-primary d-block mb-2 disabled"  role="button" aria-disabled="true"> User/Developer Manual </a>
                        <a href="" class="btn btn-primary d-block mb-2 disabled"  role="button" aria-disabled="true"> Demo Video </a>
                        <a href="" class="btn btn-primary d-block mb-2 disabled"  role="button" aria-disabled="true"> Presentation </a>
                        <a href="" class="btn btn-primary d-block mb-2 disabled"  role="button" aria-disabled="true"> Progress Evaluation </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>





{% endblock body %}